<div class="container">
  <mat-toolbar color="accent">
    <span>Restaurantes</span>
    <span class="example-spacer"></span>
    <button mat-raised-button (click)="onAdd()">
      <span>Adicionar Restaurante</span>
    </button>
  </mat-toolbar>

  <table mat-table [dataSource]="restaurants" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nome </th>
      <td mat-cell *matCellDef="let restaurant">{{ restaurant.name }}</td>
    </ng-container>

    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef>Endereço </th>
      <td mat-cell *matCellDef="let restaurant">{{ restaurant.address }}</td>
    </ng-container>

    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef>Cidade </th>
      <td mat-cell *matCellDef="let restaurant">{{ restaurant.city }}</td>
    </ng-container>

    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef>Estado </th>
      <td mat-cell *matCellDef="let restaurant">{{ restaurant.state }}</td>
    </ng-container>

    <ng-container matColumnDef="zipCode">
      <th mat-header-cell *matHeaderCellDef>CEP </th>
      <td mat-cell *matCellDef="let restaurant">{{ restaurant.zipCode }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let restaurant">
        <button mat-button color="primary" (click)="onEdit(restaurant)">EDITAR</button>
        <button mat-button color="warn" (click)="onDelete(restaurant.id)">DELETAR</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let restaurant; columns: columnsToDisplay"></tr>
  </table>
</div>
