.add-restaurant-form {
  min-width: 150px;
  max-width: 520px ;
  width: 100%;
}

.add-restaurant-full-width {
  width: 100%;
}

.add-restaurant-half-width {
  width: 50%;
}

.add-restaurant-quarter {
  width: 23%;
  margin-left:2%;
}

.add-restaurant-three {
  width: 75%;
}
